<div class="notification is-<%= @data["alert_message"]["color"].to_s %>">
  <button class="delete"></button>
  <%= @data["alert_message"]["message"] %>
</div>

<script asynce src="/js/bulma_alert.js" defer></script>
