*{
  --gh-dark: #24292e;
  --gh-dark-2: #2b3137;
  --gh-light: #fafbfc;
  --gh-green: #2dba4e;
  --gh-blue: #0d74e7;
  --gh-red: #f0440a;
  --gh-yellow: #f2c35c;
  --shadow-grey: rgba(128, 128, 128, 0.645);
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* error alert colors classes */

.red{
  background-color: var(--gh-red);
}

.green{
  background-color: var(--gh-green);
}

.yellow{
  background-color: var(--gh-yellow);
}

html{
  height: 100%;
}

body{
  height: 100%;
  background: var(--gh-dark-2);
}

header{
  margin-bottom: 20px;
}

header .content{
  background: var(--gh-dark);
  width: 100%;
  min-height: 60px;
  /*box-shadow: 2px 1px 10px var(--shadow-grey);*/
  padding: 10px 6px;
}

.alert{
  color: white;
  font-size: 22px;
  font-weight: 500;
  padding: 10px 10px;
}



