
.container{
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.container main .content{
  background: var(--gh-dark);
  width: 40vw;
  height: 60vh;
  margin-top: 20px;
  border-radius: 8px;
  /*box-shadow: 1px 1px 15px var(--shadow-grey);*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container main .content .dev-stats img{
  border-radius: 50%;
  width: 100px;
  object-fit: cover;
}

.container .search-box{

}

.container .search-box input{
  padding: 14px 28px;
  border: none;
  border-radius: 16px;
  
}

.container .search-box button{}
