<section class="section">
  <div class="container">
    <main class="columns is-centered">
      <div class="column is-flex-direction-column is-justify-content-center has-text-centered">
        <figure class="image is-128x128 is-inline-block-desktop is-inline-block-tablet is-inline-block-mobile">
          <img class="is-rounded is-square" src="/assets/developer_illustration.svg" alt="GitHub Developer">
        </figure>

        <form action="/" method="get">
          <input type="text" name="q" id="q">
          <input type="submit" value="search">
        </form>
      </div>
    </main>
  </div>
</section>
