<!DOCTYPE html>
<html lang="en" height="100%">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <title>Pokedev</title>

  <link rel="stylesheet" href="/application.css">
</head>
<body>
  <header >

  </header>
  <% unless @data['status'] != 200 %>
    <div>
      <h3><%= @data['result']['name'] %></h3>
      <%= "<img src=#{@data['result']['avatar_url']}>" %>
    </div>
  <% else %>
    <% if @data['status'] == 404 %>
      <h1>Dev not found!</h1>
    <% else %>
      <h1>Something went worong!</h1>
    <% end %>
  <% end %>

  <main>
    <div class="box">
      <h3>Welcome to Pokedev</h3>
      <form action="/" method="get">
        <input name="q" id="q" placeholder="Dev username">
        <input type="submit" value="Search">
      </form>
    </div>
  </main>
</body>
</html>