<!DOCTYPE html>
<html lang="en" height="100%">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <title>Pokedev</title>

  <link rel="stylesheet" href="/application.css">
</head>
<body>
  <header >

  </header>
  <% unless @data.nil? %>
    <div>
      <h3><%= @data['name'] %></h3>
      <%= "<img src=#{@data['avatar_url']}>" %>
    </div>
  <% else %>
    <h1>Hello world!</h1>
  <% end %>

  <main>
    <div class="box">
      <h3>Welcome to Pokedev</h3>
      <form action="/" method="get">
        <input name="q" id="q" placeholder="Dev username">
        <input type="submit" value="Search">
      </form>
    </div>
  </main>
</body>
</html>