<section class="section">
  <div class="container">
    <main class="columns is-centered">
      <div class="column is-flex-direction-column is-justify-content-center has-text-centered">
        <figure class="image is-128x128 is-inline-block-desktop is-inline-block-tablet is-inline-block-mobile">
          <img class="is-rounded is-square" src="/assets/developer_illustration.svg" alt="GitHub Developer">
        </figure>

        <h3 class="has-text-weight-semibold is-size-3 is-primary mt-1 mb-4">Pokedev</h3>

        <form action="/" method="get" id="user-search" class="column is-flex-direction-row is-justify-content-center has-text-centered">
          <div class="field has-addons has-addons-centered">
            <p class="control has-icons-left">
              <input class="input" type="text" id="username" name="q" placeholder="username..." required>
              <span class="icon is-small is-left">
                <i class="fa-brands fa-github"></i>
              </span>
            </p>
            <p class="control">
              <button id="submit" class="button is-primary has-text-weight-semibold">
                <span>Find!</span>
              </button>
            </p>
          </div>
        </div>
      </form>
      </div>
    </main>
  </div>
</section>
<footer>
  <div class="has-text-centered">
    © <%= Time.now.year %> Copyright:  <a href="http://github.com/rodrigogaldino553" target="_blank">@rodrigogaldino553</a></span>
  </div>
</footer>
