<!DOCTYPE html>
<html lang="en" height="100%">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>Pokedev</title>

    <link rel="stylesheet" href="/css/application.css">
    <link rel="stylesheet" href="/css/search.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <%= erb :'partials/_header' %>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>