<!-- content for :head -->
<% @title = @data['status'] == 200 ? "Pokedev | #{@data['result']['login']}" : "Pokedev" %>
<main class="container mx-auto h-full max-w-4xl flex flex-col items-center">
    <!-- actions -->
    <div class="flex w-full content-between mt-12">
        <span>Back</span>
    </div>

    <!-- user card -->
    <div class="card">

    </div>
</main>
<!-- footer -->
<footer>

</footer>
