<% @title = @data['status'] == 200 ? "Pokedev | #{@data['result']['login']}" : "Pokedev" %>
<a href="/">Try a new search</a>
<div class="container">
  <main>
    <div class="content">
      <h3>Welcome to Pokedev</h3>
      <% if @data['status'] == 200 %>
        <div class="dev-stats">
          <h3><%= @data['result']['name'] %></h3>
          <%= "<img src=#{@data['result']['avatar_url']}>" %>
        </div>
      <% end %>
    </div>
  </main>
</div>
